body {
    background: radial-gradient(1091px at 106.5% 111.5%, rgb(250, 246, 213) 0.1%, rgb(218, 147, 93) 42.2%, rgb(137, 86, 67) 74.3%, rgb(67, 39, 39) 100.2%);
}

h1 {
    text-align: center;
    color: white;
}

p {
    text-align: center;
}

a {
    color: white;
}

img {
    display: block;
    padding: 30px;
}
footer {
    text-align: center;
}